# Директория, куда склонирован проект с GitHub
IT_51_HERE="/opt/mikrotik-ldap-acl"

# Имя контроллера домена MS AD
IT_51_LDAP_HOST="dc01.example.local"

# Область поиска, - конкретное подразделение (OU)
IT_51_LDAP_SEARCH_BASE="OU=Users,DC=example,DC=local"

# Имя пользователя в AD (чтобы выполнить поиск)
IT_51_BIND_DN="s-ldapsearch-it@example.local"

# Пароль пользователя, указанного в переменной выше
IT_51_BIND_PASS="Vj2W9hxP1zs6TFUG"

# Путь к файлу базы данных с именами и ip-адресами пользователей
IT_51_IPP="/opt/shared-objects/ipp.csv"

# Имя пользователя для подключения к устройствам MikroTik
IT_51_MT_USR="s-mik-conf"

# Список ip-адресов устройств MikroTik для обновления ACL
# Элементы списка должны быть разделены пробелом
# Количество не ограничено
IT_51_MT_RTR="10.1.96.254 10.2.96.254"
